services:
    opensearch:
        image: opensearchproject/opensearch
        environment:
            discovery.type: 'single-node'
            bootstrap.memory_lock: true
            DISABLE_SECURITY_PLUGIN: true
            OPENSEARCH_JAVA_OPTS: '-Xms512m -Xmx512m'
        ulimits:
            memlock:
                soft: -1
                hard: -1
            nofile:
                soft: 65536
                hard: 65536
        healthcheck:
            test: ['CMD', 'curl', '-f', 'http://127.0.0.1:9200']
            interval: 30s
            start_period: 120s
            timeout: 20s
            retries: 3
        ports:
            - '9200:9200'
