includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - ../../.phpstan/extension.neon

parameters:
    level: 6
    paths:
        - src/
        - tests/
    excludePaths:
        - src/Bridge/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: "#^Method .*::test.*\\(\\) has no return type specified\\.$#"
        -
            message: '#^Call to( static)? method PHPUnit\\Framework\\Assert::.* will always evaluate to true\.$#'
        -
            identifier: 'symfonyAi.forbidNativeException'
            path: tests/*
            reportUnmatched: false
