includes:
    - ../../.phpstan/extension.neon

parameters:
    level: 6
    paths:
        - src/
        - tests/
    excludePaths:
        - src/Bridge/
    ignoreErrors:
        -
            identifier: trait.unused
            reportUnmatched: false
