includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - ../../.phpstan/extension.neon

parameters:
    level: 8
    paths:
        - src/
        - tests/
    excludePaths:
        - src/Bridge/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: "#^Method .*::test.*\\(\\) has no return type specified\\.$#"
        -
            message: '#^Call to( static)? method PHPUnit\\Framework\\Assert::.* will always evaluate to true\.$#'
            reportUnmatched: false
        -
            identifier: 'symfonyAi.forbidNativeException'
            path: tests/*
            reportUnmatched: false
        -
            identifier: trait.unused
            reportUnmatched: false
        # Tests calling methods on first()/last()/getSystemMessage() etc. that return nullable
        -
            message: '#Cannot call method (getContent|asText|all)\(\) on .*\|null\.#'
            path: tests/*
        # Tests using null|iterable|object|string from streams
        -
            message: '#supplied for foreach, only iterables are supported\.#'
            path: tests/*
        # Tests passing nullable string to str_contains
        -
            message: '#Parameter \#1 \$haystack of function str_contains expects string, string\|null given\.#'
            path: tests/*
        # Tests using iterator_to_array on stream methods
        -
            message: '#iterator_to_array expects iterable, iterable\|object\|string\|null given\.#'
            path: tests/*
        # Tests assertCount on nullable SourceCollection etc.
        -
            message: '~Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert::assertCount\(\) expects Countable\|iterable, .*\|null given\.~'
            path: tests/*

services:
    - # Conditionally enabled by bleeding edge in phpstan/phpstan-phpunit 2.x
        class: PHPStan\Type\PHPUnit\DataProviderReturnTypeIgnoreExtension
        tags:
            - phpstan.ignoreErrorExtension
