includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - ../../.phpstan/extension.neon

parameters:
    level: 8
    paths:
        - src/
        - tests/
    excludePaths:
        - src/Bridge/
        - composer-plugin
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: "#^Method .*::test.*\\(\\) has no return type specified\\.$#"
        -
            message: '#^Call to( static)? method PHPUnit\\Framework\\Assert::.* will always evaluate to true\.$#'
            reportUnmatched: false
        # Tests using file_get_contents directly returning string|false
        -
            message: '#expects string, string\|false given\.#'
            path: tests/*

services:
    - # Conditionally enabled by bleeding edge in phpstan/phpstan-phpunit 2.x
        class: PHPStan\Type\PHPUnit\DataProviderReturnTypeIgnoreExtension
        tags:
            - phpstan.ignoreErrorExtension
